// Variables

$blue: #00a5a9; //-gray: pass-l-aa -white: pass-l-aa
$orange: #f16824; //-gray: pass-l-aa -white: pass-l-aa
$yellow: #f5c715; //-gray: pass -white: fail
$gray: #333333; //-blue: pass -orange: pass -yellow: pass -white: pass
$white: #fff; //-blue: pass -orange: pass -yellow: fail gray: pass
