---
layout: header-footer
meta: Blog/News
billboardClass: new-billboard
---


<div>
{% include billboard.html %}
</div>
<main>

<div class="grid news-section">
	<div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2">
	  {% for news in site.data.news %}
  	<img src="{{site.baseurl}}/img/{{image}}" alt="{{page.news-img-1}}">
  	<h4>{{news.title}}</h4>
  	{{news.content | markdownify }}
  {% endfor %}
	</div>
</div>
<!-- <div class="grid news-section">
	<div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2">
	  {% for news in site.data.news %}
  	<img src="{{site.baseurl}}/img/{{image}}" alt="{{page.news-img-1}}">
  	<h4>{{news.title2}}</h4>
  	{{news.content | markdownify }}
  {% endfor %}
	</div>
</div>

<div class="grid news-section">
	<div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2">
	  {% for news in site.data.news %}
  	<img src="{{site.baseurl}}/img/{{image}}" alt="{{page.news-img-1}}">
  	<h4>{{news.title3}}</h4>
  	{{news.content | markdownify }}
  {% endfor %}
	</div>
</div> -->
</main>
<!--

<main>

	{% if site.data.news %}
		<h4>{{page.news-title}}</h4>
		<p>{{page.news-story}}</p>
	{% endif %}
	</div>
</div>
<div class="blog-rows">
	<div>
		{% include blog-home-page.html %}
	</div>
	<div>
		{% include blog-home-page.html %}
	</div>
	<div>
		{% include blog-home-page.html %}
	</div>

	<div class="blog-load-more">
		<button>Load more...</button>
	</div>
</div>

</main> -->
