---
layout: header-footer
meta: Project Night Night
priority: 1.0
---
	<div class="billboard">
		<div class="content-header text-center">
			<h1 class="h1-blue">Helping homeless children have sweeter dreams.</h1>
			<p>1 in 30 children will face homelessness sometime this year</p>
			<h3 class="h3-blue">Get involve and help a child in need sleep and feel safe</h3>
			<div class="donate-btn">
				<a class="learn-more" href="{{site.baseurl}}/about/">Donate</a>
			</div>
		</div>
	</div>
	<main>
	<p class="padding-side padding-t-b">>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
	</p>
        
    <div>
        <p class="text-center padding-side padding-t-b">There are approximately 298,000 homeless families in the United States.* Currently, there are more homeless children in the U.S. than at any other time since the Great Depression. Nonetheless, family homelessness often goes unseen as most homeless families do not live on the street. Instead, most homeless families are transient, living in shelters, in cars, in hotels in the city’s poorest neighborhoods, or staying with friends or family members</p>
        <img class="map" src="http://placehold.it/800x400" alt="map">
    </div>
    
    <section class="padding-side padding-t-b"> 
    <div>
        <h2 class="text-center h2-orange">What We Do</h2> 
        <p class="text-center">Project Night Night donates over 25,000 Night Night Packages each year to homeless children 12 and under who need our childhood essentials to have a concrete and predictable source of security and an increased exposure to high-quality literacy materials during their time of upheaval. Each Night Night Package contains a new security blanket, an age- appropriate children’s book, and a stuffed animal — all nestled inside of a new canvas tote bag. By providing objects of reliable comfort, Project Night Night reduces trauma and advances the emotional and cognitive well-being of the children we serve.
        </p>
        </div>
    
        
          <div class="text-center unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 pad-t-2 pad-b-2">
                
                    <div class="second-btn">

                    <a type="submit" class="button" href="thank-you.html">Help Now</a>
                                    </div>
                </div>
        
    </section>   
        
	<div class="padding-side padding-t-b">
	{% include blog-home-page.html %}
    </div>
    
    <div class="padding-side padding-t-b">
    {% include row-img.html %}    
    </div>
        
    <div class="padding-side padding-t-b">
        <p class="text-center pad-double-top">We believe that small actions can make a difference in the lives of children.</p>
        <h3 class="text-center h3-blue">Learn how you can get involved today.</h3>
        
           <div class="text-center unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 pad-t-2 pad-b-2">
                
                    <div class="second-btn">

                    <a type="submit" class="button" href="thank-you.html">Get Involved</a>
                                    </div>
                </div>
        
</main>


