---
layout: header-footer
meta: Project Night Night
priority: 1.0
current: home

img-row-1:
  - img/pnn7.jpg
img-row-1-alt: ##

img-row-2:
  - img/pnn9.jpg
img-row-2-alt: ##

img-row-3:
  - img/pnn15.jpg
img-row-3-alt: ##

img-row-4:
  - img/pnn16.jpg
img-row-4-alt: ##

img-row-5:
  - img/pnn17.jpg
img-row-5-alt: ##
---

	<div class="billboard">
		<div class="content-header">
			<h1 class="gutter-side zetta billboard-header">Helping homeless children have sweeter dreams.</h1>
			<p class="gutter-side mega">1 in 30 children will face homelessness this year.</p>
			<h3 class="gutter-side tera pad-b">Get involved and help a child in need feel safe.</h3>
			<div class="gutter-side second-btn">
				<a class="button" href="{{site.baseurl}}/donate/">Donate</a>
			</div>
		</div>
	</div>

<main>
<section class="pad-b-2 pad-t-2 what-we-do">
<div>
  <h2 class="text-center h2-gray">What We Do</h2>
  <p itemprop="about" class="p-grey gutter-side">Project Night Night donates over 25,000 Night Night Packages each year to homeless children 12 and under who need our childhood essentials to have a concrete and predictable source of security and an increased exposure to high-quality literacy materials during their time of upheaval. Each Night Night Package contains a new security blanket, an age- appropriate children’s book, and a stuffed animal — all nestled inside of a new canvas tote bag. By providing objects of reliable comfort, Project Night Night reduces trauma and advances the emotional and cognitive well-being of the children we serve.
  </p>
</div>

<div class="text-center unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 pad-t-1-2 pad-b-2">
  <div class="second-btn">
    <a type="submit" class="button" href="{{site.baseurl}}/get-involved/">Help Now</a>
  </div>
</div>
</section>
<section>
  <div class="map-sec">
      <h3 class="h3-white text-center">There are approximately 298,000 homeless families in the United States.</h3>
  </div>
  <div class="unit unit-xs-1 unit-s-1 unti-m-1 unit-l-1 pad-t">
    <p class="gutter-side" itemprop="about">Currently, there are more homeless children in the U.S. than at any other time since the Great Depression. Nonetheless, family homelessness often goes unseen as most homeless families do not live on the street. Instead, most homeless families are transient, living in shelters, in cars, in hotels in the city’s poorest neighborhoods, or staying with friends or family members</p>
  </div>
</section>

{% include blog-home-page.html %}
{% include row-img.html %}


<section class="pad-t-2 pad-b-2">
    <div class="island">
        <h3 class="text-center tera">We believe that small actions can make a difference in the lives of children.</h3>
        <h3 class="text-center h3-orange">Learn how you can get involved today.</h3>
        <div class="text-center unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 pad-t-2 pad-b-2">
            <div class="second-btn">
                <a type="submit" class="button" href="{{site.baseurl}}/get-involved/">Get Involved</a>
            </div>
         </div>
    </div>
</section>

    </main>


