<section class="pad-b">
  <div class="grid">
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 pad-t-2">
      <h2 class="text-center h1-orange">What's in the News</h2>
    </div>
  </div>

  <div class="grid gutter-1-2">
  <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-3 blogs">
    <figure class="blog-holder">
      <img class="blog-image" src="{{site.baseurl}}/img/pnn8.jpg">
      <h3>Kindness Crew: Project Night Night</h3>
      <figcaption>Do your kids have a bedtime routine? Maybe they read a story before falling asleep or have a special blanket. Unfortunately, many children cannot say they do.</figcaption>
      <div class="blog-icons">
        <div class="blog-username unit unit-xs-1-2 unit-s-1-2 unit-m-1-2 unit-l-1-2">
          <a href="#">Read more</a>
        </div>
      </div>
    </figure>
  </div>

  <div class="unit unit-xs-hidden unit-s-1 unit-m-1-2 unit-l-1-3 blogs">
    <figure class="blog-holder">
      <img class="blog-image" src="{{site.baseurl}}/img/pnn7.jpg">
      <h3>Project Night Night: Bedtime Treasures for Kids with Little of Their Own</h3>
      <figcaption>When Josephine Ambrose, 22, escaped domestic violence a year ago, she left everything behind except her now 1-year-old son and 3-year-old daughter. The family has been living in shelters ever since, and the transition has been hard on the two children.</figcaption>
      <div class="blog-icons">
        <div class="blog-username unit unit-xs-1-2 unit-s-1-2 unit-m-1-2 unit-l-1-2">
          <a href="#">Read more</a>
        </div>
      </div>
    </figure>
  </div>

  <div class="unit unit-xs-hidden unit-s-hidden unit-m-1-2-hidden unit-l-1-3 blogs">
    <figure class="blog-holder">
      <img class="blog-image" src="{{site.baseurl}}/img/pnn9.jpg">
      <h3>Dave Grohl Helps Taylor Greenwood 'Sing You to Sleep' - Video Premiere</h3>
      <figcaption>Dave Grohl first encountered rising L.A. singer-songwriter Taylor Greenwood at one of her New York City performances last year and was so taken by her commanding stage presence and powerful vocals that he offered to assist her with her next album.</figcaption>
      <div class="blog-icons">
        <div class="blog-username unit unit-xs-1-2 unit-s-1-2 unit-m-1-2 unit-l-1-2">
          <a href="#">Read more</a>
        </div>
      </div>
    </figure>
  </div>
  </div>
</section>
