<div class="grid unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-3 blogs">
	<figure class="blog-holder">
		<h3>Kindness Crew: Project Night Night</h3>
		<img class="blog-image" src="{{site.baseurl}}/img/pnn16.jpg">
		<figcaption>Do your kids have a bedtime routine? Maybe they read a story before falling asleep or have a special blanket. Unfortunately, many children cannot say they do. In fact, they do not even have the security of knowing where they are going to lay their heads at night, which is how a non-profit based in San Francisco was born...</figcaption>
		<div class="blog-icons">
			<div class="blog-username unit unit-xs-1-2 unit-s-1-2 unit-m-1-2 unit-l-1-2">
				<p>Read more...</p>
			</div>
		</div>
	</figure>
</div>

<div class="grid unit unit-xs-hidden unit-s-1 unit-m-1-2 unit-l-1-3 blogs">
	<figure class="blog-holder">
		<h3>Project Night Night: Bedtime Treasures for Kids with Little of Their Own</h3>
		<img class="blog-image" src="{{site.baseurl}}/img/pnn7.jpg">
		<figcaption>When Josephine Ambrose, 22, escaped domestic violence a year ago, she left everything behind except her now 1-year-old son and 3-year-old daughter. The family has been living in shelters ever since, and the transition has been hard on the two children. However, their new “friends” might just make it a bit easier...</figcaption>
		<div class="blog-icons">
			<div class="blog-username unit unit-xs-1-2 unit-s-1-2 unit-m-1-2 unit-l-1-2">
				<p>Read more...</p>
			</div>
		</div>
	</figure>
</div>

<div class="grid unit unit-xs-hidden unit-s-hidden unit-m-1-2-hidden unit-l-1-3 blogs">
	<figure class="blog-holder">
		<h3>Dave Grohl Helps Taylor Greenwood 'Sing You to Sleep' - Video Premiere</h3>
		<img class="blog-image" src="{{site.baseurl}}/img/pnn8.jpg">
		<figcaption>Dave Grohl first encountered rising L.A. singer-songwriter Taylor Greenwood at one of her New York City performances last year and was so taken by her commanding stage presence and powerful vocals that he offered to assist her with her next album. Now he's gone a step further, collaborating with Greenwood for her new charity single, "Sing You to Sleep." The accompanying video for the heartwarming ballad – which premieres here – was shot in Grohl's recording studio and pairs the Foo Fighter's glistening acoustic guitar with Greenwood's stunning voice...</figcaption>
		<div class="blog-icons">
			<div class="blog-username unit unit-xs-1-2 unit-s-1-2 unit-m-1-2 unit-l-1-2">
				<p>Read more...</p>
			</div>
		</div>
	</figure>
</div>