// colours

.yellow-back {
    background-color: $yellow;
}

.grey-back{
    background-color: $gray;
}

.orange-back{
    background-color: $orange;
}

.blue-back {
    background-color: $blue;
}

.button{
    @include button($blue);
        }

.email {
    @include email($orange)
        }

.text-center {
    text-align: center;
}

//content styles

.about-mission {
    text-align: center;
}

.about-us {
    padding-top: 80px;
}

.register {
    @media only screen and (min-width: 38em) {
        margin-left: 5em;
        margin-right: 5em;
    }
    label {
    display: block;
    font-family: $text;
    size: 100%;
    padding-top: 1em;
    padding-bottom: .25em;
    text-align: left;
    }
    input + label {
    display: inline-block;
    }
}

.sign-up:focus {
    outline: 2px solid $blue;
}

.sign-up {
    width: 100%;
}

// icons/awards

.project-icon {
    font-size: 50em;
    color: $blue;
}

.award-icon {
	font-size: 10em;
	color: $white;
}

.small-type{
    font-size: .7em;
}

.sleeping-icon {
	font-size: 7em;
	color: $gray;
	text-decoration: none;
	text-align: center;
}

.metal-icon {
	font-size: 10em;
	color: $white;
	text-decoration: none;
	text-align: center;
}
