//home page background elements

.over-billboard {
	background-color: rgba( $white, .5);
}

.billboard-white {
 	height: 70px;
	@media only screen and (min-width: 25em) {
		background-size: 115%;
		height: 95px;
	}
	@media only screen and (min-width: 60em) {
		height: 125px;
	}
	@media only screen and (min-width: 60em) {
		height: 130px;
	}
}

.billboard {
	height: 38em;
	background-image: url(../img/pnn-billboard.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: -141px;
	width: 100%;
	position: relative;
	background-color: $blue;
	@media only screen and (min-width: 18em) {
		height: 30em;
	}
	@media only screen and (min-width: 25em) {
		background-position: 0px 100%;
		height: 30em;
	}
	@media only screen and (min-width: 38em) {
		background-position: 0px 100%;
		height: 35em;
	}
	@media only screen and (min-width: 60em) {
		background-position: 0px 100%;
		height: 34em;
	}
	@media only screen and (min-width: 90em) {
		background-position: 0px 0px;
		height: 38em;
	}
}

.content-header {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba($white, .7);
	padding: 1em;
	padding-top: 6em;
	@media only screen and (min-width: 25em) {
		padding-top: 9em;
	}
	@media only screen and (min-width: 38em) {
		padding-top: 10.5em;
	}
	@media only screen and (min-width: 60em) {
		padding-top: 10.5em;
	}
	@media only screen and (min-width: 90em) {
		padding-top: 13em;
	}
	h1 {
		text-transform: uppercase;
		color: $gray;
		font-weight: 900;
		margin-bottom: .3em;
	}
	p {
		color: $orange;
		font-weight: 700;
		text-transform: uppercase;
	}
	h3 {
		color: $gray;
		padding-top: .5em;
	}
	.button {
		@include main-donate-button($orange);
	}
}

.billboard-header {
	max-width: 19em;
}


.learn-more {
  background-color: rgba($blue, .7);
  list-style-type: none;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;
  color: $white;
  font-family: sans-serif;
  padding: 1em 1.75em;
  border: 2px solid $blue;
  &:hover {
  	background-color: $white;
   }
}

.donate-btn {
	padding-top: 1em;
	 @media only screen and (min-width: 25em) {
		padding-top: 1em;
	}
	@media only screen and (min-width: 60em) {
		padding-top: 2em;
	}
		@media only screen and (min-width: 90em) {
		padding-top: 3em;
	}
}

//About us background elements

.billboard-about-us {
	background-image: url(../img/about-us.jpg);
	background-size: 150%;
 	background-repeat: no-repeat;
 	width: 100%;
 	position: relative;
 	background-position: center 0;
	@media only screen and (min-width: 25em) {
		background-size: 115%;
	}
	@media only screen and (min-width: 38em) {
		background-size: 105%;
	}
	@media only screen and (min-width: 60em) {
		background-size: 100%;
	}
	@media only screen and (min-width: 90em) {
	}
	.text-push-down {
		text-align: center;
		padding-top: 2.5em;
		@media only screen and (min-width: 25em) {
			padding-top: 3em;
    		margin-bottom: 2em;
		}
		@media only screen and (min-width: 38em) {
			padding-top: 3em;
    		margin-bottom: 3em;
		}
		@media only screen and (min-width: 60em) {
			padding-top: 5em;
		}
		@media only screen and (min-width: 90em) {
			padding-top: 4em;
		}
	}
}


//Get Involved background elements

.billboard-involve {
	background-image: url(../img/get-involved.jpg);
	background-size: 150%;
 	background-repeat: no-repeat;
 	width: 100%;
 	position: relative;
 	background-position: center 0;
	@media only screen and (min-width: 25em) {
		background-size: 115%;
	}
	@media only screen and (min-width: 38em) {
		background-size: 105%;
	}
	@media only screen and (min-width: 60em) {
		background-size: 100%;
	}
	@media only screen and (min-width: 90em) {
	}
	.text-push-down {
		text-align: center;
		padding-top: 2.5em;
		@media only screen and (min-width: 25em) {
			padding-top: 4em;
    		margin-bottom: 5em;
		}
		@media only screen and (min-width: 38em) {
			padding-top: 3.8em;
    		margin-bottom: 5em;
		}
		@media only screen and (min-width: 60em) {
			padding-top: 5em;
		}
		@media only screen and (min-width: 90em) {
			padding-top: 4em;
		}
	}
}

//Contact us background elements

.billboard-contact-us {
	background-image: url(../img/contact-us.jpg);
	background-size: 150%;
 	background-repeat: no-repeat;
 	width: 100%;
 	position: relative;
 	background-position: center 0;

	@media only screen and (min-width: 25em) {
		background-size: 115%;

	}
	@media only screen and (min-width: 38em) {
		background-size: 105%;
	}
	@media only screen and (min-width: 60em) {
		background-size: 100%;

	}
	@media only screen and (min-width: 90em) {
	}
	.text-push-down {
		text-align: center;
		padding-top: 2.5em;
		@media only screen and (min-width: 25em) {
			padding-top: 4em;
    		margin-bottom: 5em;
		}
		@media only screen and (min-width: 38em) {
			padding-top: 3.8em;
    		margin-bottom: 5em;
		}
		@media only screen and (min-width: 60em) {
			padding-top: 5em;
		}
		@media only screen and (min-width: 90em) {
			padding-top: 4em;
		}
	}
}

.billboard-blog-page {
	background-image: url(../img/news-press.jpg);
	background-size: 150%;
 	background-repeat: no-repeat;
 	width: 100%;
 	position: relative;
 	background-position: center 0;

	@media only screen and (min-width: 25em) {
		background-size: 115%;
	}
	@media only screen and (min-width: 38em) {
		background-size: 105%;
	}
	@media only screen and (min-width: 60em) {
		background-size: 100%;
	}
	@media only screen and (min-width: 90em) {
	}
	.text-push-down {
		text-align: center;
		padding-top: 2.5em;
		@media only screen and (min-width: 25em) {
			padding-top: 4em;
    		margin-bottom: 5em;
		}
		@media only screen and (min-width: 38em) {
			padding-top: 3.5em;
    		margin-bottom: 5em;
		}
		@media only screen and (min-width: 60em) {
			padding-top: 5em;
		}
		@media only screen and (min-width: 90em) {
			padding-top: 4em;
		}
	}
}

//Resources background elements

.billboard-resources {
	background-image: url(../img/resources.jpg);
	background-size: 150%;
 	background-repeat: no-repeat;
 	width: 100%;
 	position: relative;
 	background-position: center 0;
	@media only screen and (min-width: 25em) {
		background-size: 115%;
	}
	@media only screen and (min-width: 38em) {
		background-size: 105%;
	}
	@media only screen and (min-width: 60em) {
		background-size: 100%;
	}
	@media only screen and (min-width: 90em) {
	}
	.text-push-down {
		text-align: center;
		padding-top: 2.5em;
		@media only screen and (min-width: 25em) {
			padding-top: 4em;
    		margin-bottom: 5em;
		}
		@media only screen and (min-width: 38em) {
			padding-top: 3.5em;
    		margin-bottom: 5em;
		}
		@media only screen and (min-width: 60em) {
			padding-top: 5em;
		}
		@media only screen and (min-width: 90em) {
			padding-top: 4em;
		}
	}
}
