.billboard {
	z-index: -1;
	height: 27em;
	background-image: url(../img/pnn-billboard.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: -100px;
	width: 100%;
	@media only screen and (min-width: 25em) {
		background-position: 0px 100%;
		height: 430px;
	}
	@media only screen and (min-width: 38em) {
		background-position: 0px 100%;
		height: 650px;
	}
	@media only screen and (min-width: 60em) {
		background-position: 0px 100%;
		height: 650px;
	}
	@media only screen and (min-width: 90em) {
		background-position: 0px 0px;
		height: 1000px;
	}
}

.conent-header {
	position: relative;
	top: 6em;
	padding: 1em;
}
