//home page background elements

.billboard {
	height: 29em;
	background-image: url(../img/pnn-billboard.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: -141px;
	width: 100%;
	position: relative;
	background-color: $blue;
	@media only screen and (min-width: 25em) {
		background-position: 0px 100%;
		height: 500px;
	}
	@media only screen and (min-width: 38em) {
		background-position: 0px 100%;
		height: 650px;
	}
	@media only screen and (min-width: 60em) {
		background-position: 0px 100%;
		height: 750px;
	}
	@media only screen and (min-width: 90em) {
		background-position: 0px 0px;
		height: 850px;
	}
}

.content-header {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba($white, .5);
	padding: 1em;
	padding-top: 6em;
	@media only screen and (min-width: 25em) {
		padding-top: 9em;
	}
	@media only screen and (min-width: 38em) {
		padding-top: 10.5em;
	}
	@media only screen and (min-width: 60em) {
		padding-top: 14.5em;
	}
	@media only screen and (min-width: 90em) {
		padding-top: 12em;
	}
	h1 {
		text-transform: uppercase;
		color: $gray;
		font-weight: 900;
	}
	p {
		color: $blue;
		font-weight: 700;
		text-transform: uppercase;
	}
	h3 {
		color: $gray;
		padding-top: .5em;
	}
}

.learn-more {
  background-color: rgba($blue, .7);
  list-style-type: none;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;
  color: $white;
  font-family: sans-serif;
  padding: 1em 1.75em;
  border: 2px solid $blue;
  &:hover {
  	background-color: $white;
   }
}

.donate-btn {
	padding-top: 1em;
	 @media only screen and (min-width: 25em) {
		padding-top: 1em;
	}
	@media only screen and (min-width: 60em) {
		padding-top: 2em;
	}
		@media only screen and (min-width: 90em) {
		padding-top: 3em;
	}
}

//
//
//inside page billboard stuff

// .new-billboard {
// 	background-image: url('{{ site.baseurl }}/img/{{page.img}}');;
// 	background-size: cover;
// 	background-repeat: no-repeat;
// 	width: 100%;
// 	height: 200px;
// 	@media only screen and (min-width: 25em) {
// 		background-position: 0px 100%;
// 		height: 350px;
// 	}
// 	@media only screen and (min-width: 38em) {
// 		background-position: 0px 100%;
// 		height: 450px;
// 	}
// 	@media only screen and (min-width: 60em) {
// 		background-position: 0px 100%;
// 		height: 550px;
// 	}
// 	@media only screen and (min-width: 90em) {
// 		background-position: 0px 0px;
// 		height: 700px;
// 	}
// 	h1 {
// 		padding-top: 3em;
// 	}
// }

// .arrow {
// 	font-size: 3em;
// 	text-align: center;
// 	color: rgba( $white, .8);
// }

.billboard-involve {
	height: 30em;
	background-image: url(../img/get-involved.jpg);
	background-position: -450px;
	background-size: cover;
	background-repeat: no-repeat;
	@media only screen and (min-width: 25em) {
		background-position: -300px;
		height: 27em;
	}
	@media only screen and (min-width: 38em) {
		background-position: -370px;
		height: 35em;
	}
	@media only screen and (min-width: 60em) {
		background-position: -170px;
		height: 38em;
	}
	@media only screen and (min-width: 90em) {
		background-position: -170px;
		height: 38em;
	}
	.text-push-down {
		padding-top: 6em;
		@media only screen and (min-width: 25em) {
			padding-top: 6em;
		}
		@media only screen and (min-width: 38em) {
			padding-top: 7em;
		}
		@media only screen and (min-width: 60em) {
			padding-top: 8em;
		}
		@media only screen and (min-width: 90em) {
			padding-top: 8em;
		}
	}
}

// .billboard-involve {
// 	background-image: url(.../img/{{page.img);
// }


