.blog-load-more {
	width: 100%;
	text-align: center;
	margin: 2em 0;
		button {
			border: none;
			padding: 1em;
			font-size: 1em;
			margin-top: 1em;
		}

}

.news-section {
	h4 {
		&:hover {
			color: $blue;
		}
	}
	a {
		text-decoration: none;
	}
}

.date {
	margin-bottom: .4em;
	color: lighten($gray, 30%);
}

.author {
	font-weight: 600;
	color: $gray;
	
}

.content {
	margin-bottom: .5em;
}

.read-more {
	color: $blue;
	font-weight: 800;
	font-family: $text;
	padding-left: .5em;
	&:hover {
		color: $gray;
	}
}