//********************** General Navigation details ***************//

.donate {
	font-family: $text;
	font-size: 1.6em;
	color: $blue;
	border: 2px solid $blue;
	display: block;
	text-decoration: none;
	text-align: center;
	color: $white;
	padding: .5em;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba( $blue, .8);
	text-transform: uppercase;
	font-weight: 700;
	max-width: 7em;
	&:hover {
		background-color: $blue;
		color: $white;
	}
	@media only screen and (min-width: 38em) {
		margin-right: 1.4em;
		//line-height: 1;
	}
	@media only screen and (min-width: 60em) {
		@include button($blue);
		margin-left: 0;
		margin-right: 3.5em;
		//line-height: 1;
	}
}

//*************************** Toggle Navigation ***************//

.nav {
  margin: 0;
  list-style-type: none;
  padding-top: 80px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  right:30px;
  top: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
  left: -150%;
  z-index: 1;
  	@media only screen and (min-width: 38em) {
  		background-color: rgba(255, 255, 255, 0.8);
  	}
	@media only screen and (min-width: 60em) {
		padding-top: 0px;
		text-align: right;
		right:30px;
		left: 0px;
		-webkit-transition: none;
		transition: none;
		padding-right: 1em;
		height: 130px;
		}
  li {
		display: block;
		@media only screen and (min-width: 60em) {
			display: inline-block;
		}
  }
  .regular{
  	@media only screen and (min-width: 60em) {
  		display: inline-block;
  		padding: 1.45em  .75em;
		}
		@media only screen and (min-width: 90em) {
		padding: 1.5em .75em;
		}
	}
}

 .regular {
	 display: block;
	 text-decoration: none;
	 text-align: center;
	 font-family: $text;
	 line-height: 60px;
	 font-size: 1.4757rem;
	 line-height: 60px;
	 color: $gray;
	 font-weight: 700;
	&:hover {
		color: $blue;
	}
	&.current {
		display: block;
	  text-decoration: none;
	  text-align: center;
	  font-family: sans-serif;
	  line-height: 60px;
	  font-size: 1.4757rem;
	  line-height: 60px;
	  color: $blue;
		@media only screen and (min-width: 60em) {
		  line-height: 60px;
			font-size: 1rem;
			color: $blue;
			padding: 0.15em 1em;
		}
	}

	@media only screen and (min-width: 60em) {
	 line-height: 60px;
	 font-size: 1rem;
	 display: inline-block;
	}
}

.nav-check {
  position: absolute;
  top: -10em;
  &:checked ~ .nav {
  	left: 0;
  	top: 0;
  	@media only screen and (min-width: 60em) {
  		top: 0;
  	}
  }
}

.nav-label {
	background-repeat: no-repeat;
	background-size: 95%;
  cursor: pointer;
  font-size: 1.25rem;
  display: inline-block;
  width: 45px;
  height: 40px;
  position: fixed;
  right: 12px;
  top: 22px;
  background-image: url(../img/nav-icon.svg);
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 2;
  a {
  	color: $white;
  }
  @media only screen and (min-width: 60em) {
  	display: none;
		top: -30px;
		width: 150px;
		height: 0;
		display: block;
		background-color: transparent;
  }
}

.nav-check:checked ~ .nav-label {
  background-position: center bottom;
}


//***************** Project Night Night Logo in navigation **********//
.logo {
	height: 40px;
	position: fixed;
	padding: 1em;
	z-index: 1;
	@media only screen and (min-width: 60em) {
		overflow: hidden;
		float: left;
		margin-top: 0;
		height: 120px;
		padding: 1em 0 0 .5em;;
		z-index: 100;
	}
}

.logo-size {
	width: 60px;
	@media only screen and (min-width: 25em) {
		width: 90px;
	}
	@media only screen and (min-width: 38em) {
		width: 100px;
	}
	@media only screen and (min-width: 60em) {
		width: 100px;
	}
}


// **************************** footer ****************************//
//*****************************************************************//

.footer-color {
	background-color: $blue;
	xheight: 500px;
	bottom: 0;
	li {
		list-style-type: none;
		@media only screen and (min-width: 38em) {
			display: inline-block;
		}
	}
	a {
		text-decoration: none;
		font-family: $text;
}
}

.footer-text-color {
	a {
	color: $white;
	background-color: $blue;
			&:hover {
			color: $black;
		}
		@media only screen and (min-width: 38em) {
			padding: 0 .5em;
		}
	}
}

.address {
	color: $white;
	font-family: sans-serif;
	padding: 0 2em;
	text-align: center;
	@media only screen and (min-width: 38em) {
		text-align: left;
	}
	@media only screen and (min-width: 60em) {
		padding: 0 3em;
	}
}

.footer-link {
	text-align: center;
	li {
		padding-bottom: .5em;
		display: block;
		@media only screen and (min-width: 38em) {
			display: inline-block;
		}
	}
	a {
		padding: 0 1em;
	}
}
.social-btn {
	text-align: center;
}

.icon-size {
	font-size: 4em;
	color: $white;
	text-decoration: none;
	text-align: center;
	&:hover {
		color: $black;
	}
}

// **************************** login ****************************//
 
.login-holder {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.login-holder:before {
    content: "Login";
    font-weight: 900;
    color: $white;
}

.login-holder:focus {
	pointer-events: none;
}

.login-holder:focus .login-box {
	height: 0;
    @include element-invisible-off;
    margin-top: 1em;

    pointer-events: auto;
}

.login-box {
    position: absolute;
    z-index: 1;
    height: 100%;
    transition: height .5s;
	@include element-invisible;
	width: 100%;
	background-color: $white;
    label {
    display: block;
    font-family: $text;
    size: 100%;
    padding-top: 1em;
    text-align: left;
}


input + label {
    display: inline-block;
}
}

.login {
	width: 100%;
}

.login:focus {
    outline: 2px solid $blue;
}

.botton {
	@include button($blue);
}

.footer-ul {
	padding-left: 0;
}



