.map-sec {
		background-image: url(../img/map.jpg);
		background-size: 260%;
		background-repeat: no-repeat;
		background-position: center;
		width: 100%;
		height: 10em;
		position: relative;
		@media only screen and (min-width: 25em) {
			height: 15em;
		}
		@media only screen and (min-width: 38em) {
			background-size: 100%;
			height: 10em;
		}
		@media only screen and (min-width: 60em) {
			background-size: 100%;
			height: 14em;
		}
		@media only screen and (min-width: 90em) {
			background-size: 100%;
			height: 15em;
		}
		h3 {
			margin-left: 10%;
			margin-right: 10%;
			position: relative;
			top: 50%;
  			transform: translateY(-50%);
	
	}
}
