.involve-video {
	height: 200px;
	width: 270px;
	@media only screen and (min-width: 25em) {
	height: 340px;
	width: 100%;
	}
}

.start-btn {
  @include button($blue);
}

.start-container {
	padding-bottom: 4em;
	text-align: center;
}

.volunteer {
	background-color: lighten($gray, 70%);
}

.row-img {
	white-space: nowrap;
}

.birthday {
	background-color: lighten($gray, 70%);
}

.marketing {
	background-color: lighten($gray, 70%);
}

.involve-logo {
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2em;
	padding-bottom: 3em;
}

.heroes {
	li {
		list-style-type: none;
	}
}

.donate-btn {
  @include donate-button($gray);
}

.select-btn {
  @include button($gray);
}
