@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}


*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

.img-flex {
	width: 100%;
	display: block;
}

//*************************** Skip Links ***************//
.skip-links {
	margin: 0;
	padding: 0;
	list-style-type: none;
	top: -3em;
 a {
 	padding: 0.5em 0.75em;
	position: absolute;
	top: -3em;
	background-color: #000;
	color: #fff;
	font-size: 1.125em;
	font-weight: bold;
	text-decoration: none;
	&:focus {
		top: 0;
	}
 }
}
