@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}


*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

img {
    width: 100%;
}

.img-flex {
	width: 100%;
	display: block;
}

//*************************** Skip Links ***************//
.skip-links {
	margin: 0;
	padding: 0;
	list-style-type: none;
	top: -3em;
 a {
 	padding: 0.5em 0.75em;
	position: absolute;
	top: -3em;
	background-color: #000;
	color: #fff;
	font-size: 1.125em;
	font-weight: bold;
	text-decoration: none;
	&:focus {
		top: 0;
	}
 }
}

// unique website spacing and typography/color//

.gutter-billboard {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    @media only screen and (min-width: 25em) {
        padding-left: 1.4rem;
        padding-right: 1.4rem;
    }
    @media only screen and (min-width: 60em) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
   @media only screen and (min-width: 90em) {
        padding-left: 6rem;
        padding-right: 6rem
    }
}

.gutter-side {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    @media only screen and (min-width: 38em) {
        padding-left: 1.4rem;
        padding-right: 1.4rem;
    }
    @media only screen and (min-width: 60em) {
        padding-left: 7rem;
        padding-right: 7rem;
    }
}

.gutter-side-half {
    padding-left: 0.65rem;
    padding-right: 0.65rem;
    @media only screen and (min-width: 38em) {
        padding-left: 0.7rem;
        padding-right: 0.7rem;
    }
    @media only screen and (min-width: 60em) {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }
}

.h1-blue {
    @include h1 ($blue);
}

.h1-gray {
    @include h1 ($gray);
}

.h1-yellow {
    @include h1 ($yellow);
}

.h1-orange {
    @include h1 ($orange);
}

.h1-white {
    @include h1 ($white);
}

.h1-black {
    @include h1 ($black);
}

.h2-blue {
    @include h2 ($blue);
}

.h2-gray {
    @include h2 ($gray);
}

.h2-yellow {
    @include h2 ($yellow);
}

.h2-orange {
    @include h2 ($orange);
}

.h2-white {
    @include h2 ($white);
}

.h2-black {
    @include h2 ($black);
}

.h3-blue {
    @include h3 ($blue);
}

.h3-gray {
    @include h3 ($gray);
}

.h3-yellow {
    @include h3 ($yellow);
}

.h3-orange {
    @include h3 ($orange);
}

.h3-white {
    @include h3 ($white);
}

.h3-black {
    @include h3 ($black);
}

.p-blue {
    @include p;
    color: $blue;
}

.p-orange {
    @include p;
    color: $orange;
}


.p-white {
    @include p;
    color: $white;
}

.p-black {
    @include p;
    color: $black;
}

.p-grey {
    @include p;
    color: $gray;
}

.second-btn {
	padding-top: 1em;
}


