@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}


*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

.img-flex {
	width: 100%;
	display: block;
}

//*************************** Skip Links ***************//
.skip-links {
	margin: 0;
	padding: 0;
	list-style-type: none;
	top: -3em;
 a {
 	padding: 0.5em 0.75em;
	position: absolute;
	top: -3em;
	background-color: #000;
	color: #fff;
	font-size: 1.125em;
	font-weight: bold;
	text-decoration: none;
	&:focus {
		top: 0;
	}
 }
}

//********************** General Navigation details ***************//
.current {
	display: block;
  text-decoration: none;
  text-align: center;
  font-family: sans-serif;
  line-height: 60px;
  font-size: 1.8020rem;
  line-height: 60px;
  color: $blue;
	@media only screen and (min-width: 60em) {
	  line-height: 60px;
		font-size: 1rem;
		color: $blue;
		padding: 0.15em 1em;
	}
}

.donate {
	border: solid $blue 3px;
	display: block;
  text-decoration: none;
  text-align: center;
  font-family: sans-serif;
  line-height: 60px;
  font-size: 1.8020rem;
  line-height: 60px;
  color: $black;
  margin: 0 .75em;
  padding: 0;
	&:hover {
		background-color: $blue;
		color: $white;
	}
	@media only screen and (min-width: 60em) {
  	line-height: 60px;
 		font-size: 1rem;
 		margin: .25em 0.5em 0 0;
 		display: inline;
 		padding: 0.25em 1em;
	}
	@media only screen and (min-width: 90em) {
		margin: .25em 3em 0 0;
	}
}

// .header-nav {
// 	xposition: fixed;
// 	sheight: 10vh;
// 	xwidth: 100vw;
// 	@media only screen and (min-width: 60em) {
// 		position: static;

// 	}
// }

//*************************** Toggle Navigation ***************//

.nav {
  margin: 0;
  list-style-type: none;
  padding: 0;
  background-color: $white;
  position: fixed;
  right:30px;
  top: 10%;
  width: 100vw;
  height: 100vh;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
  left: -150%;
	@media only screen and (min-width: 60em) {
		text-align: right;
		right:30px;
		top: 0;
		left: -37px;
		-webkit-transition: none;
		transition: none;
		background-color: transparent;
		height: 0vh;
		position: static;
		width: auto;
		}
  li {
		display: block;
		@media only screen and (min-width: 60em) {
			display: inline-block;
		}
  }
  .regular{
  	@media only screen and (min-width: 60em) {
  		display: inline-block;
  		padding: 0.75em  .75em;
		}
		@media only screen and (min-width: 90em) {
		padding: 1.5em .75em;
	}
	 }
 }

 .regular {
	 display: block;
	 text-decoration: none;
	 text-align: center;
	 font-family: sans-serif;
	 line-height: 60px;
	 font-size: 1.8020rem;
	 line-height: 60px;
	 color: $black;
	&:hover {
		color: $blue;
	}
	@media only screen and (min-width: 60em) {
	 line-height: 60px;
	 font-size: 1rem;
	 display: inline-block;
	}
}

.nav-check {
  position: absolute;
  top: -10em;
  &:checked ~ .nav {
  	left: 0;
  	top: 10%;
  	@media only screen and (min-width: 60em) {
  		top: 0;
  	}
  }
}

.nav-label {
	background-repeat: no-repeat;
	background-size: 95%;
  cursor: pointer;
  font-size: 1.25rem;
  display: inline-block;
  width: 50px;
  height: 40px;
  position: fixed;
  right: 12px;
  top: 22px;
  color: white;
  background-image: url(../img/nav-icon.svg);
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  @media only screen and (min-width: 60em) {
  	display: none;
		top: -30px;
		width: 150px;
		height: 0;
		display: block;
		background-color: transparent;
  }
}

.nav-check:checked ~ .nav-label {
  background-position: center bottom;
}


//***************** Project Night Night Logo in navigation **********//
.logo {
	height: 40px;
	position: fixed;
	margin-top: -60px;
	padding: .25em;
	@media only screen and (min-width: 60em) {
		margin-top: -75px;
		position: static;
		overflow: hidden;
		float: left;
		margin-top: 0;
		height: 100%;
		padding: 1em 0 0 1em;;
	}
}

.logo-size {
	width: 65px;
	@media only screen and (min-width: 60em) {
		width: 125px;
	}
}


// **************************** footer ****************************//
//*****************************************************************//

.footer-color {
	background-color: $blue;
	xheight: 500px;
	bottom: 0;
	li {
		list-style-type: none;
		@media only screen and (min-width: 60em) {
			display: inline-block;
		}
	}
	a {
		text-decoration: none;
		color: $white;
		font-family: sans-serif;
		@media only screen and (min-width: 60em) {
			padding: 0 .5em;
		}
	}

}

.address {
	color: $white;
	font-family: sans-serif;
	padding: 0 2em;
	@media only screen and (min-width: 60em) {
		padding: 0 3em;
	}
}

.footer-link {
	li {
		padding-bottom: .5em;
	}
	a {
		padding: 0 1em;
	}
	@media only screen and (min-width: 60em) {
		text-align: center;
	}
}
.social-btn {
	text-align: center;
}

.icon-size {
	font-size: 4em;
	color: $white;
	text-decoration: none;
	text-align: center;

}
main {
	margin-top: 5em; //change this when you put your billboard in to push images to top of page
	@media only screen and (min-width: 60em) {
		margin-top: 7em;
	}
}
