<!DOCTYPE html>
<html lang="en-ca">
<head>
	<meta charset="utf-8">
	<title>Project Night Night - Sweet Dreams For Homeless Children</title>
	<link href="https://file.myfontastic.com/KMGBv9SmRwmoFWodXuMoum/icons.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/style.css" rel="stylesheet">
	<meta name="description" content="Project Night Night donates over 25,000 Night Night Packages each year to homeless children 12 and under who need our childhood essentials to have a concrete">
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<!-- Open Graph-->
	<meta property="og:type" content="website">
	<meta property="og:tite" content="Project Night Night - Sweet Dreams For Homeless Children">
	<meta property="og:url" content="{{site.baseurl}}/">
	<meta property="og:image" content="{{site.baseurl}}/img/night-lovo.svg">
	<meta property="og:site_name" content="Project Night Night">
	<meta property="og:description" content="Project Night Night donates over 25,000 Night Night Packages each year to homeless children 12 and under who need our childhood essentials to have a concrete">

	<!--Twitter-->

	<meta name="twitter:card" content="">
  <meta name="twitter:title" content="Project Night Night - Sweet Dreams For Homeless Children">
  <meta name="twitter:url" content="https://twitter.com/projectnightx2">
  <meta name="twitter:description" content="Project Night Night donates over 25,000 Night Night Packages each year to homeless children 12 and under who need our childhood essentials to have a concrete">
  <!-- The image should be 120x120 pixels in dimension -->
  <meta name="twitter:image" content="{{site.baseurl}}/img/night-lovo.svg">


  <link href="{{site.baseurl}}/img/favicon.icns" rel="shortcut icon">
  <link rel="apple-touch-icon" sizes="144x144" href="{{site.baseurl}}/img/favicon-144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{site.baseurl}}/img/favicon-152.png">
</head>

<body>
<ul class="skip-links">
	<li><a href="#main"> Jump to Main Content</a></li>
   <li><a href="#navigation"> Jump to Navigation</a></li>
</ul>


 {{content}}


 </body>
 </html>

