<!DOCTYPE html>
<html lang="en-ca">
<head>
	<meta charset="utf-8">
	<title>Project Night Night</title>
	<link href="https://file.myfontastic.com/KMGBv9SmRwmoFWodXuMoum/icons.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="img/favicon.icns" rel="shortcut icon">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon-144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon-152.png">
</head>

<body>
<ul class="skip-links">
	<li><a href="#main"> Jump to Main Content</a></li>
   <li><a href="#navigation"> Jump to Navigation</a></li>
</ul>


 {{content}}


 </body>
 </html>

