---
layout: default
---

<header class="header-nav">
<a class="logo" href="{{site.baseurl}}/">
	<img class="logo-size" src="{{site.baseurl}}/img/night-logo.svg" alt="project night night logo">
</a>
	<nav>
		<input type="checkbox" class="nav-check masthead" id="nav-check">
		<label class="nav-label" for="nav-check"><i>Toggle Navigation</i></label>
		<ul id="navigation" class="nav">
			<li class=""><a class="current" href="{{site.baseurl}}/">Home</a></li>
			<li> <a class="regular" href="{{site.baseurl}}/about-us/">About Us</a></li>
			<!--	<ul>
					<li>list item</li>
				</ul>-->
			<li> <a class="regular" href="{{site.baseurl}}/get-involved/">Get Involved</a></li>
			<li> <a class="regular" href="{{site.baseurl}}/contact-us/">Contact Us</a></li>
			<li> <a class="regular" href="{{site.baseurl}}/blog-page">News/Blog</a></li>
			<li> <a class="regular" href="{{site.baseurl}}/resrouces/">Resources</a></li>
			<li><a class="donate" href="{{site.baseurl}}/donate/">Donate</a></li>
		</ul>
	</nav>
</header>

{{content}}

<footer class="footer-color grid island">
<div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">

	<div class="grid">
		<div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 micro address pad-b-2">
			<p> 148 Beulah Street San Francisco, CA 94117 <br>415.310.0360 <br> Federal Tax ID #202877016 </p>
		</div>
		<div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 social-btn">
			<a href="#">
				<i class="icon-pinterest-icon icon-size"></i>
			</a>
			<a href="#">
				<i class="icon-facebook-icon icon-size"></i>
			</a>
			<a href="#">
				<i class="icon-twitter-icon icon-size"></i>
			</a>
		</div>
	</div> <!-- closing of address and social icons-->

		<div class="grid">
			<div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
				<ul class="footer-link">
					<li class="micro"><a href="{{site.baseurl}}/">Home</a></li>
					<li class="micro"><a href="{{site.baseurl}}/">About Us</a></li>
					<li class="micro"><a href="{{site.baseurl}}/">Get Involved</a></li>
					<li class="micro"><a href="{{site.baseurl}}/">Contact Us</a></li>
					<li class="micro"><a href="{{site.baseurl}}/">News/Blog</a></li>
					<li class="micro"><a href="{{site.baseurl}}/">Resource</a></li>
					<li class="micro"><a href="{{site.baseurl}}/">Sign-In</a></li>
				</ul>
			</div>
		</div> <!-- closing of lower nav grid-->
	</div> <!-- Closing of footer grid-->
</footer>
