---
layout: default
---


<header>
<div class="logo"></div>
	<nav>
		<ul id="navigation" class="nav">
			<li class="regular"><a href="#">About Us </a></li>
			<li class="regular"><a href="#">Get Involved</a></li>
			<li class="regular"><a href="#">Contact Us</a></li>
			<li class="regular"><a href="#">New/Blog</a></li>
			<li class="regular"><a href="#">Resources</a></li>
			<li><a class="donate" href="#">Donate</a></li>
		</ul>
	</nav>
</header>

{{content}}


<footer>
</footer><!-- /footer -->
