---
layout: default
---


<header class="header-nav">
<a class="logo" href="{{site.baseurl}}">
	<img class="logo-size" src="{{site.baseurl}}/img/night-logo.svg" alt="project night night logo">
</a>
	<nav>
		<input type="checkbox" class="nav-check masthead" id="nav-check">
			<label class="nav-label" for="nav-check"><i>Toggle Navigation</i></label>
		</input>
		<ul id="navigation" class="nav">
			<li class=""><a class="current" href="{{site.baseurl}}/">Home</a></li>
			<li> <a class="regular" href="{{site.baseurl}}/about-us/">About Us</a></li>
			<li> <a class="regular" href="{{site.baseurl}}/get-involved/">Get Involved</a></li>
			<li> <a class="regular" href="{{site.baseurl}}/contact-us/">Contact Us</a></li>
			<li> <a class="regular" href="{{site.baseurl}}/news-blog">News/Blog</a></li>
			<li> <a class="regular" href="{{site.baseurl}}/resrouces/">Resources</a></li>
			<li><a class="donate" href="{{site.baseurl}}/donate/">Donate</a></li>
		</ul>
	</nav>
</header>

{{content}}


<footer>
		<ul id="navigation" class="nav">
			<li class=""><a class="current" href="#">Home</a></li>
			<li> <a class="regular" href="#">About Us</a></li>
			<li> <a class="regular" href="#">Get Involved</a></li>
			<li> <a class="regular" href="#">Contact Us</a></li>
			<li> <a class="regular" href="#">New/Blog</a></li>
			<li> <a class="regular" href="#">Resources</a></li>
			<li><a class="donate" href="#">Donate</a></li>
		</ul>
	</nav>
</footer><!-- /footer -->
